<div>
    <h1>Chat del programador</h1>


    <label>Mensaje: </label>
    <input type="text" id="inputMessage">
    <input type="submit" name="button" id="sendMessage">

    <div id="chatBox"></div>
</div>